.body {
    width: 100vw;
    height: auto;
}
.body > div {
    width: 100vw;
    height: auto;
    /* border: blue solid 1px; */
}
    .homeheader {
        width: 95%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        /* border: red solid 1px; */
    }
        .hometitle {
            text-align: center;
            padding: 0;
            margin: 0;
            margin-top: 3%;
            font-size: 3rem;
            /* border: green solid 1px; */
        }
            .homelink {
                text-decoration: none;
                color: black;
                font-family: 'Noto Serif', serif;
            }
        .bar {
            padding: 0;
            margin: 0;
            text-align: center;
            margin-bottom: 10px;
            /* border: green dashed 1px; */
        }
            .bar > h2 {
                font-size: 1.2rem;
                text-decoration: none;
                display: inline;
                margin-left: 15px;
                margin-right: 15px;
                /* border: pink dashed 1px; */
            }
            .bar > h2 > a {
                text-decoration: none;
                display: inline;
                color: black;
                font-family: 'Noto Serif', serif;
                /* border: purple dashed 1px; */
            }
        .photoContain {
            width: 100%;
            height: 100%;
            text-align: center;
            margin-top: 20px;
            margin-left: auto;
            margin-right: auto;
            /* border: orange solid 1px; */
        }
        .photoContain > img {
            width: auto;
            max-width: 100%;
        }
            .row1 {
                height: 20rem;
            }
            .row2 {
                height: 18.8rem;
            }
            .row3 {
                height: 18.05rem;
            }
            .row4 {
                height: 18.425rem;
            }
            .row5 {
                height: 20rem;
            }
        .footer {
            width: 95%;
            height: 150px;
            margin-left: auto;
            margin-right: auto;
            align-items: center;
            text-align: center;
            display: flex;
            justify-content: center;
            /* border: 1px red dashed; */
        }
            .footer > a {
                margin: 10px;
                height: fit-content;
                width: auto;
                /* border: 1px green solid; */
            }
        .albums, .albumsLHD {
            width: 100%;
            height: fit-content;
            /* border: 1px blue solid; */
            text-align: center;
            padding: 10px 0 10px 0;
        }
                .albumCoverImg {
                    height: 15rem;
                    width: auto;
                    padding: 10px 10px 10px 10px;
                }
                .albumPhoto {
                    height: 18rem;
                    width: auto;
                    padding: 1px;
                }
                .albumsLHD > a > img {
                    height: 18rem;
                    width: auto;
                }
            
@media screen and (max-width: 600px) {
    .photoContain > img {
        width: 97%;
        height: auto;
    }

    .albumCoverImg {
        width: 97%;
        height: auto;
    }
    .albumPhoto {
        width: 97%;
        height: auto;
    }
}